<div class="container" [formGroup]="discoverForm">

        <h2>Where are you going today ?</h2>
        <div id="geocoder"></div>
        <pre id="result"></pre>

        <h3>Battery level</h3>
        <mat-slider min="1" max="100" type="number" thumbLabel value='100' 
        formControlName="batteryLevel"></mat-slider>

        <h3>Amenities</h3>
        <mat-chip-list selectable multiple>
            <mat-chip #c="matChip" *ngFor="let amenitie of amenities" 
            color="primary"
            [value]="amenitie" 
            (click)="toggleSelection(c)">
                {{amenitie}}</mat-chip>
        </mat-chip-list>

        <br>
        <div class="passengers">
            <h3>Nº passengers</h3>
            <input placeholder="-" type="number" formControlName="passengers">
        </div>

    <button (click)="onSubmit()">Get Route</button>
</div>