  select {
    border-radius: 20px;
    height: 30px;
    width: 200px;
    padding: 5px;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    margin-top: 10vh;
  }

  .car-list {
    overflow-x: scroll;
    flex-direction: row;
    display: flex;
  }

  h2 {
    color: #002984;
  }

  .custom-select {
    /* position: absolute;*/

    overflow-y: scroll;
  }
  
  img {
    display: block;
    width: 30px;
    right: 10vw;
    float: right;
    margin: 20px;
  }