<div class="container">
    <div class="car" routerLink="/register-car">
        <img class='background' src="../../../assets/circleblue.png">
        <img class='user-car' src={{user.carUrl}}>
    </div>
    <h1>Welcome, <span class="user"> {{user.firstName}}</span></h1>

    <div class="battery">
        <h2>Set up your battery panic level</h2>
        <mat-slider class='panic' min="1" max="20" type="number" thumbLabel value='7' (change)="panic($event)"></mat-slider>
        <span class="batt">default: 7%</span>
    </div>
    <div class="user-btn">
        <button class="discover" routerLink="/discover">Discover</button>
        <button class="new-car" routerLink="/register-car">Change your car</button>
    </div>
</div>

