.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    max-width: 100vw;
    max-height: 100vw;
}

.car {
    z-index: 2;
    align-self: start;
    margin-top: 20px;
}

h1 {
    z-index: 0;
    justify-self: center;
    margin: 10px;
    margin-top: 20px;
}

h2 {
    z-index: 1;
    font-size: 18px;
    margin-top: 36vh;
}

.batt {
    font-size: 12px;
}

.user-btn {
    display: flex; 
    margin-top: 10vh;  
}

.discover {
    align-self: center;
    background-color: #002984;
    border-radius: 5px;
    border: none;
    color: white;
    height: 40px;
    margin: 10px;
    max-height: 60px;
    max-width: 90vw;
    padding: 10px 10px 10px 0px;
    width: 75vw;  
}

.new-car {
    align-self: center;
    background-color: #19d719;
    border-radius: 5px;
    border: none;
    color: #002984;
    height: 40px;
    margin: 10px;
    max-height: 60px;
    max-width: 90vw;
    padding: 10px 10px 10px 0px;
    width: 75vw;   
}

.battery {
    margin-top: 20px;
}

.user {
    color: #002984;
    font-size: 28px;
    font-weight: 500;
}

.background {
    position: absolute;
    margin-left: 2vw;
    width: 300px;
}

.user-car {
    position: absolute;
    margin-left: 4vw;
    margin-top: 13vh;
    width: 250px;
}