button {
    position: absolute
}

.exp {
    position: absolute;
    bottom: 0vh;
    height: 10vh;
    width: 100vw;
    max-height: 60vh;
    display: flex;
    overflow-y: scroll;
    margin-bottom: 30px;
}

img {
    top: 60vh;
    bottom: 50px;
    right: 30px;
    position: absolute;
    max-width: 50px;
}