<div class="container">
    <h1>Sign In</h1>
    <div class="form">
        <form [formGroup]="loginForm" class="login-form">
            <input placeholder="Enter your e-mail" formControlName="email">
            <input placeholder="Enter your password" formControlName="password">
            <span>Don't have an account ? <a routerLink="/register">Sign Up</a></span>
        </form>
    </div>
    <br>
    <button (click)="onSubmit()">Log in</button>
    <!-- <div class="google" (click)="signInGoogle()">
        <img src="../../../assets/login.png"><span >Sign in with Google</span>
    </div> -->
    </div>
